*{
    font: size 120px;
}
p{
    color: blue;
}
p#name{
    font-family:cursive;
    color:black;
}
#legs{
    font-size: 200px;
}
p.breed{
    font-weight: bold;
}
p.tail{
    font-display:small-caps;
}